@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Sans+Georgian:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Georgia', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #000;
  background: url('./assets/images/background_image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5% 10%;
  gap: 30px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container-1,
.container-2 {
  width: 50%;
}

.text-box {
  border-radius: 5px;
  height: auto;
  border: 1px solid #332b00;
  margin-top: 2.4rem;
  box-shadow: 0 1px 2px 0 rgba(0, 255, 255, 0.7),
    1px 2px 4px 0 rgba(0, 255, 255, 0.7), 2px 4px 8px 0 rgba(0, 255, 255, 0.7),
    2px 4px 16px 0 rgba(0, 255, 255, 0.7);
}

.unordered-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.unordered-list li {
  flex: 1 0 0;
  margin: 5px;
}

.recent-score,
h2 {
  color: rgb(255, 251, 251);
  font-size: 2.4rem;
  text-shadow: rgb(243, 0, 231) 5px 0 10px;
  font-weight: bold;
}

#form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

#addBtn {
  align-self: flex-end;
}

.main-header,
.player-info,
.leader-score,
.leader-rank {
  color: rgb(169, 83, 240);
  filter: brightness(110%);
  text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px #fff, 0 0 15px #fff,
    0 0 20px #4eadec, 0 0 35px #4eadec, 0 0 40px #4eadec, 0 0 50px #4eadec,
    0 0 75px #4eadec;
  animation: pink 1.5s ease-in-out infinite alternate;
  margin: 5%;
  text-align: center;
  font-size: 4rem;
}

input {
  outline: none;
  padding: 3%;
  border-radius: 10px;
  font-size: 2rem;
  box-shadow: 0 1px 2px 0 rgba(235, 243, 243, 0.7),
    1px 2px 4px 0 rgba(235, 243, 243, 0.7),
    2px 4px 8px 0 rgba(235, 243, 243, 0.7),
    2px 4px 16px 0 rgba(235, 243, 243, 0.7);
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 5px;
  width: 25%;
  padding: 1rem;
  background: rgb(70, 125, 197);
  font-size: 2rem;
  transition: all 0.6s ease-in;
  text-shadow: rgb(233, 173, 230) 8px 0 13px;
}

#leaderboard ul:nth-child(odd) {
  background-color: #fff;
}

#leaderboard ul:nth-child(even) {
  background-color: #ccc;
}

.leader-rank {
  width: 20px;
  text-align: center;
  font-size: 2.8rem;
}

.player-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.player-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.leader-score,
.player-name {
  font-size: 1.8rem;
  font-weight: bold;
}

@media (max-width: 48em) {
  body {
    margin: 0;
    height: 100vh;
  }

  .main-header {
    font-size: 3rem;
    padding-top: 5%;
    margin: 0;
  }

  html {
    font-size: 50%;
  }

  #addBtn {
    align-self: center;
  }

  .main-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10% 5%;
  }

  .recent-score,
  h2,
  input::placeholder {
    font-size: 2rem;
  }

  .container-1,
  .container-2 {
    width: 90%;
  }

  .player-info {
    gap: 5px;
  }

  .player-avatar {
    width: 20px;
  }
}
